.exhibit-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  background-color: #eee;
}

.exhibit-box {
  position: absolute;
  background-color: #ffae00;
  width: 100%;
  height: 100%;
  inset: (0% 45% 0% 45% round 10px)
}
