.columns {
  width: 100%;
  padding: 15px;
  padding-left: 350px;
  display: flex;
  gap: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.image {
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  transition: 0.4s;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

/* .image:hover > img {
  transform: rotate(1deg) scale(1.03);
} */
