.content-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

@media (max-width: 1000px) {
  .content-container {
    flex-direction: column;
  }
}

.content-image-container {
  position: relative;
  height: calc(100vh - 30px);
  width: 100%;
  overflow: hidden;
  margin: 15px;
}

.content-image-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.content-image-container .content-image {
  z-index: 1;
  object-fit: contain;
}

.content-image-container .content-image-background {
  z-index: 0;
  object-fit: cover;
  filter: blur(10px) brightness(0.4);
}
